.idea/
.vscode/
node_modules/
dist/
tmp/

**/.env
**/local.settings.json

**/.zip

# Terraform files:
.terraform/
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
.terraform.lock.hcl
tflint
