{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "<CHANGE_ME>",
    "FUNCTIONS_WORKER_RUNTIME": "node",
    "AZURE_STORAGE_ACCOUNT_NAME": "<CHANGE_ME>",
    "AZURE_STORAGE_ACCOUNT_ACCESS_KEY": "<CHANGE_ME>",
    "AZURE_STORAGE_ACCOUNT_SHARED_ACCESS_TOKEN": "<CHANGE_ME>",
    "AZURE_STORAGE_CONTAINER_NAME": "<CHANGE_ME>",
    "AZURE_COSMOS_DB_ACCOUNT_URI": "<CHANGE_ME>",
    "AZURE_COSMOS_DB_ACCOUNT_ACCESS_KEY": "<CHANGE_ME>",
    "AZURE_COSMOS_DB_DATABASE_ID": "<CHANGE_ME>",
    "AZURE_COSMOS_DB_CONTAINER_ID": "<CHANGE_ME>",
    "servicebuswebapi1_SERVICEBUS": "<CHANGE_ME>",
    "AZURE_SERVICE_BUS_TOPIC_NAME": "<CHANGE_ME>",
    "AZURE_SERVICE_BUS_SUBSCRIPTION_NAME": "<CHANGE_ME>",
    "AZURE_COMPUTER_VISION_ENDPOINT": "<CHANGE_ME>",
    "AZURE_COMPUTER_VISION_ACCESS_KEY": "<CHANGE_ME>"
  }
}