body {
    font-family: Arial, sans-serif;
    max-width: 1000px;
    margin: auto;
    padding: 20px;
}

input[type="file"] {
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50; /* green */
    border: none;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #45a049; /* dark green */
}

.remove-button {
    padding: 10px 20px;
    background-color: red; /* make it red */
    border: none;
    color: white;
    cursor: pointer;
}

.remove-button:hover {
    background-color: darkred; /* dark red when hovered */
}

#images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#images img {
    margin-bottom: 15px;
}
